/* variables */

:root {
    --color-principal: #484848;
    --color-secundario: #ec552b;
    --color-terciario: #fff;
    --color-oscuro: #484848;
    --texto-principal: 'Poppins', sans-serif;
    --texto-secundario: "Lobster", sans-serif;
    --texto-color-title: #7B5F2E;
    --text-color-principal: #252525;
}
   
 /* estilos generales */
* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
/* contenedor */
.contenedor {
    width: 100%;
    max-width: 1100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
/* encabezado */
header {
    width: 96%;
    max-width: 1000px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.encabezado {
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/bg_encabezado.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0;
    position: relative;
}
.perfil {
    width: 95%;
    height: 100px;
    position: absolute;
    bottom: -40%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.perfil .foto img { 
    width: 100px;
    height: 100%;
    border: 5px solid #fff;
    border-radius: 50%;
}
.perfil .nombre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.nombre  {
    width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     font-family: var(--texto-secundario);
    color: var(--color-oscuro);
    font-size: 0.9rem; 
}

.perfil .nombre p {
    font-family: var(--texto-principal);
    margin-top: -20px;
}
/* contacto */
.contacto {
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    margin-top: 100px;
}
.contacto .redes {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
 
}
.phone, .email, .web {
    width: 70px;
    height: 70px;
    background-color: var(--color-oscuro);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone, .email, .web a  {
    text-decoration: none;
}
.phone i, .email i, .web i {
    color: var(--color-terciario);
}

/* informacion */
.informacion {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    font-family: var(--texto-principal);
    font-size: 1rem;
}
/* Redes sociales */
.title-redes {
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-principal);
    color: var(--color-terciario);
    font-family: var(--texto-principal);
    margin-top: 10px;
}
.redes_sociales {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.redes_sociales .icon_redes {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.redes_sociales .icon_redes i {
    color: var(--color-principal);
}
/* botones --------*/
.botones {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 20px;
    align-items: center;
}
.boton_compartir {
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-family: Poppins;
    font-size: 1rem;
    font-weight:300;
    color: var(--color-principal);
    border-left: 1px solid var(--color-terciario);
    width: 100%;
    text-align: center;
}
.boton_guardar {
    text-decoration: none;
    padding: 10px;
    font-family: Poppins;
    font-size: 1rem;
    font-weight:300;
    color: var(--color-principal);
    border-left: 1px solid var(--color-terciario);
    width: 100%;
    text-align: center;
}
.qr_image {
    display: flex;
    justify-content:center;
    margin: auto;
}

/* modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modal_container {
    margin: auto;
    width: 90%;
    max-width: 320px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    transform: var(--transform);
    transition: var(--transition);
}

.modal_close{
    margin-top: 10px;
    text-decoration: none;
    color:var(--color-terciario);
    font-family: var(--texto-principal);
    font-size: 1.2rem;
    font-weight: 300;
    padding: 0.6rem 0.7rem;
    display:inline-block;
    border-radius: 5px;
    background-color: var(--color-principal);
    transition: background-color 0.3s ease-in;
}

.modal--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity 0.6s ease-in;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}
.modal_content {
    padding:30px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}
.modal_container h2 {
    text-align: center;
    font-family: var(--texto-principal);
    color: var(--color-principal);
}
.modal_content a i {
    color: var(--color-principal);
}
.modal_close:hover {
    background-color: var(--color-secundario);
    color: var(--color-oscuro);
}
 